@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css");
@import "fonts";

.wrapper {
  max-width: 1024px;
  margin: auto;
  @media (max-width: 639px) {
      width: auto;
  }
}

.header {
  background-color: #1a5880;
  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
  }

}

.lovers {
  padding: 0 20px;
  @media (min-width: 320px) and (max-width: 639px) {
    display: none;
  }
}

.settings {
  margin-left: auto;

  @media (min-width: 320px) and (max-width: 639px) {
    display: none;
  }

}

.logo {
  padding: 17px 20px 17px 0;
  &__img {
    width: 172px;
    height: 26px;
  }
}